<link rel="shortcut icon" type="image/ico" href="/assets/images/favicons/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
<!-- BEGIN Optimal Workshop Intercept Snippet -->
<div id='owInviteSnippet' style='position:fixed;right:20px;bottom:20px;width:280px;padding:20px;margin:0;border-radius:6px;background:#333333;color:#EEEEEE;text-align:left;z-index:2200000000;opacity:0;transition:opacity 500ms;-webkit-transition:opacity 500ms;display:none;'>
  <div id='owInviteMessage' style='padding:0;margin:0 0 20px 0;font-size:16px;'>
    Got a spare 5 minutes to help us improve Open SDG platforms?
  </div>
  <a id='owInviteOk' href='https://tby44qb2.optimalworkshop.com/questions/07lfhod6?tag=intercept&utm_medium=intercept' onclick='this.parentNode.style.display="none";' target='_blank' style='color:#7DB6EE;font-size:16px;font-weight:bold;text-decoration:underline;'>
    Yes, I&#x27;ll do it
  </a>
  <a id='owInviteCancel' href='javascript:void(0)' onclick='this.parentNode.style.display="none";' style='color:#EEEEEE;font-size:14px;text-decoration:underline;float:right;'>
    No thanks
  </a>
</div>
<script>
  var owOnload=function()
  {
    if(-1==document.cookie.indexOf('ow-intercept-quiz-05zoggzs'))
    {
      var o=new XMLHttpRequest;o.onloadend=function()
      {
        try{
          var o=document.getElementById('owInviteSnippet');
          var date=new Date();date.setMonth(date.getMonth()+1);this.response&&JSON.parse(this.response).active===!0&&(document.cookie='ow-intercept-quiz-05zoggzs=Done;path=/;expires='+date.toUTCString()+';',setTimeout(function(){o.style.display='block',o.style.opacity=1},2e3))}catch(e){}},o.open('POST','https://app.optimalworkshop.com/survey_status/questions/05zoggzs/active'),o.send()}};
  if(document.readyState==='complete')
  {
    owOnload();
  }
  else if(window.addEventListener)
  {window.addEventListener('load',owOnload);}
  else if(window.attachEvent)
  {window.attachEvent('onload',owOnload);}
</script>
<!-- END Optimal Workshop snippet -->
<!-- Hotjar Tracking Code for https://open-sdg.org/ -->
<script
  type="text/plain"
  data-type="application/javascript"
  data-name="hotjar"
>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3227931,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- END Hotjar Tracking Code -->
<!-- Klaro Cookie Consent Code -->
<script>
var klaroConfig = {
  testing: false,
  default: false,
  mustConsent: false,
  acceptAll: true,
  hideDeclineAll: false,
  translations: {
    en: {
      purposes: {
        analytics: {
          title: 'Analytics'
        },
      },
    },
  },
  services: [
    {
      name: 'google-analytics',
      default: false,
      purposes: ['analytics'],
      cookies: ['_gat', '_gid', '_ga'],
      required: false,
      optOut: false,
      onlyOnce: false,
      translations: {
        en: {
          title: 'Google Analytics',
        },
      },
    },
    {
      name: 'hotjar',
      default: false,
      purposes: ['analytics'],
      cookies: [
        '_hjClosedSurveyInvites',
        '_hjDonePolls',
        '_hjMinimizedPolls',
        '_hjDoneTestersWidgets',
        '_hjIncludedInSample',
        '_hjShownFeedbackMessage',
        '_hjid',
        '_hjRecordingLastActivity',
        '_hjTLDTest',
        '_hjUserAttributesHash',
        '_hjCachedUserAttributes',
        '_hjLocalStorageTest',
        '_hjAbsoluteSessionInProgress',
        '_hjFirstSeen',
        '_hjIncludedInPageviewSample',
      ],
      required: false,
      optOut: false,
      onlyOnce: false,
      translations: {
        en: {
          title: 'Hotjar',
        },
      },
    },
  ],
};
</script>
<script
  type="text/plain"
  data-type="application/javascript"
  data-src="https://www.googletagmanager.com/gtag/js?id=G-68QBS7CC68"
  data-name="google-analytics"
  async
>
</script>
<script
  type="text/plain"
  data-type="application/javascript"
  data-name="google-analytics"
>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-68QBS7CC68', { 'anonymize_ip': true});
</script>
<script
  defer
  data-config="klaroConfig"
  type="application/javascript"
  src="https://cdn.kiprotect.com/klaro/v0.7/klaro.js"
>
</script>
<link
  rel="stylesheet"
  href="https://cdn.kiprotect.com/klaro/v0.7/klaro.min.css"
>
<style>
  .cm-list-title {
    color: white;
  }
  .klaro .cookie-modal .cm-list-input:not(:checked) + .cm-list-label .slider.round::before {
    background-color: #888;
  }
</style>
<!-- END Klaro Cookie Consent Code -->
